.about-tab-wrapper {
	padding: 50px;
}



.image-blurb {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.blurb {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.blurb-text > p {
	font-size: 1.3em;
	font-weight: bold;

}

.blurb-links {
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.blurb-btn {
	padding: 10px 15px;
	border-radius: 5px;
	margin-right: 5px;
	background-color: #424242;
	color: #f4f4f4;
	cursor: pointer;
}

.about-description {
	display: flex;
	justify-content: center;
}

.about-description > p {
	width: 50%;
	text-align: justify;
	line-height: 1.5;
}
