/* CSSTransitionGroup */

.tab-transition-enter {
  max-height: 0px !important;
  overflow: hidden;
	opacity: 0.01;
}

.tab-transition-enter.tab-transition-enter-active {
  max-height: 500px !important;
	opacity: 1;
	transition: opacity 500ms ease-in, max-height 1.5s ease-in;
}

.tab-transition-leave {
  max-height: auto !important;
	opacity: 1;
}

.tab-transition-leave.tab-transition-leave-active {
	opacity: 0.01;
  max-height: 500px;
	transition: opacity 300ms ease-in, max-height 1.5s ease-out;
}

.tab-transition-appear {
  max-height: 0px;
  overflow:hidden;
  opacity: 0.01;
}

.tab-transition-appear.tab-transition-appear-active {
  opacity: 1;
  max-height: 2000px;
  transition: opacity 0.5s ease-in, max-height 1.5s ease-in;
}

/**********************/

.tab-wrapper {
  margin: 0 auto;
  width: 75%;
  max-width: 1024px;
}